*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: antiquewhite;
    background:url("developer.png") no-repeat ,antiquewhite;
    background-position:  left;
    padding-top:30px;

}
.logo h2{
    font-size: 24px;
    margin-left:20px;
    font-style: italic;
}
.color-green{
    color:darkgreen;
}
.btn{
    background-color: rgb(247, 158, 158);
    border-radius: 5px;
    border:none;
    padding:2px 5px;;
}
nav{
    width:71%;
    max-width:1140px;
    /* border: 2px solid black; */
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    align-items:center;
}
nav ul li a {
    text-decoration:none;
    font-size:20px;
    color:black;
}

#banner{
    /* border:1px solid black; */
    margin: 30px 38px 0 235px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width:585px;
}
#banner .banner-content h2{
    font-size: 36px;
    color:#474747;
    margin-bottom:5px;
}
#banner .banner-content h1{
    font-size:85px;
    font-weight:bold;
    color:#181818;
    margin-bottom:20px;
}
#banner .banner-content p{
    font-size:18px;
    color:#757575;
    line-height:30px;
    margin-bottom:30px;
}
.ban-content-button{
    display:flex;
    gap:20px;
    
}
.banner-buttons {
    background-color: #fd6e0a;
    border:none;
    border-radius:5px;
    padding:10px 20px;
    color:white;
    cursor:pointer;
}
#banner .banner-image img{
    width: 500px;
    height: auto;
    vertical-align:middle;
    border-radius:30px;
    margin-bottom:5px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin:0 auto;
}
.section-heading h2{
    font-size:35px;
    margin-bottom:10px;
}
.section-heading p{
    font-size:18px;
    color:#757575;
    line-height:30px;
    margin-bottom:10px;
}
#about{
    padding-top:100px;
    margin-bottom:50px;

}
#about .about-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;
    text-align:center;
    background-color: #feefce;
    padding: 131px 157px;

}
.about-info{
    display:flex;
    justify-content: space-around;
}
.about-info .info-item p{
    font-size:18px;
    color:#757575;
    line-height:30px;
}
.about-info .info-item h4{
    font-size:20px;
    font-style:italic;
}

#skill{
    padding-top:100px;
    margin-bottom:50px;
}
#skill .skill-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;
}
.skill-box{
    display:flex;
    gap:10px;
}
.skill-box .skill-card{
    padding:20px;
    /* border:1px solid red; */
    max-width: 267px;
    border-radius:10px;
    /* text-align: center; */
    box-shadow: 2px 2px 6px 2px rgb(208, 200, 200);
}
.skill-card img{
    max-width:44px;
    margin-bottom:20px;
    
}
.skill-card h3{
    font-size:30px;
    color:#181818;
    margin-bottom:10px;
}
.skill-card p{
    font-size:18px;
    color:rgb(47, 47, 163);
    line-height: 30px;
    font-style:italic;
}